*{
  font-family: "Nunito Sans"
}

header {
  font-weight: 700;
  font-size: 26px;
  font-family: "Nunito Sans"
}

article {
  border: 5px, solid, grey;
}

.bold {
  font-weight: 700;
}

.regular {
  font-weight: 500;
}

.italic {
  font-style: italic;
}

#cool-blue {
  background-color: #2d5dcc;
  color: white;
}

#pink {
  background-color: #d957d9;
}

#mint-green {
  background-color: #4fe0b0;
}

#beige {
  background-color: #efd9ca;
}

.source-code-pro {
  font-family: 'Source Code Pro', monospace;
}

.nunito-sans {
  font-family: 'Nunito Sans', sans-serif;
}

.poppins {
  font-family: 'Poppins', sans-serif;
}

#fonts h1{
  text-decoration-line: underline;
}

#h1 h1{
  font-weight: 700;
  font-size: 26px;
}

#h2 h1{
  font-weight: 500;
  font-size: 18px
}

#p h1 {
  font-weight: 400;
  font-size: 14px;
}