header {
  font-weight: 700;
  font-size: 26px;
  font-family: "Nunito Sans"
}

article {
  border: 5px, solid, grey;
}



#cool-blue {
  background-color: #2d5dcc;
  color: white;
}

#pink {
  background-color: #d957d9;
}

#mint-green {
  background-color: #4fe0b0;
}

#beige {
  background-color: #efd9ca;
}

#source-code-pro {
  font-family: 'Source Code Pro', monospace;
}

#nunito-sans {
  font-family: 'Nunito Sans', sans-serif;
}

#poppins {
  font-family: 'Poppins', sans-serif;
}